/**---------------------------------GENERAL------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

textarea {
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  /* max-width: 1158px; */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/**----------------------------------------------------------------------*/

/**-----------------------------HEADER-----------------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  /* flex-grow: 1;
  margin-right: 120px; */
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.header-logo,
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span-header {
  color: #2e2f42;
}

.header-menu-list {
  display: none;
}

/*.header-menu-item {
}*/

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: none;
}

/* .header-contacts-item {
} */

.header-contacts-link {
  color: #434455;
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 1.5; */
  /* letter-spacing: 0.02em; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: #404bbf;
}

/** -------------------MOBILE-VERSION-------------------- */

.menu-open-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-open-icon {
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 24px 40px 16px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.menu-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mob-menu-list {
  margin-bottom: 168px;
}
/* .header-mob-menu-item {
} */

.header-mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.header-mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.current {
  color: #404bbf;
}

.header-mob-menu-contacts {
  font-style: normal;
}

.header-mob-menu-contacts-list {
  margin-bottom: 48px;
}
/* .header-mob-menu-contacts-item {
} */

.header-mob-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.header-mob-menu-contacts-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header-mob-menu-contacts-link:hover,
.header-mob-menu-contacts-link:focus,
.header-mob-menu-contacts-link:active {
  color: #4d5ae5;
}

.socmedia-list-mob {
  display: flex;
  gap: 40px;
}
.socmedia-item-mob {
  width: 40px;
  height: 40px;
}
.socmedia-link-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia-link-mob:hover {
  background-color: #404bbf;
}

.soc-media-icon-mob {
  fill: #fff;
}

/**-------------------------------------------------------------------*/

/**----------------------------MAIN-TITLE-----------------------------*/

.hero,
.footer {
  background: #2e2f42;
}

.hero {
  /* max-width: 1440px; */
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-in-office-mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-in-office-mob-bg-2x.jpg);
  }
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
}

.hero-button {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/**---------------------------------------------------------------------*/

/**------------------------------FEATURES-------------------------------*/

.feature {
  /* padding: 120px 0; */
  padding: 96px 0;
}

/*.feature-title{}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-list-item {
  width: 100%;
}

.feature-icons-box {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px; */
}

.feature-list-title {
  color: #2e2f42;
  /* font-size: 20px; */
  font-size: 36px;
  /* font-weight: 500; */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.feature-list-content,
.member-occupation,
.portfolio-description,
.footer-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-------------------------------------------------------------------*/

/**------------------------------TEAM---------------------------------*/

.team {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.team-list-item {
  background-color: #fff;
  width: 264px;
  /* width: calc((100% - 3 * 24px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  margin: 0 auto;
}

.team-member {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.member-container {
  padding: 32px 0;
}

.socmedia-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socmedia-item {
  width: 40px;
  height: 40px;
}

.socmedia-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia-link:hover {
  background-color: #404bbf;
}

.socmedia-link:focus {
  background-color: #404bbf;
}

.soc-media-icon {
  fill: #f4f4fd;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;
}

.member-occupation {
  text-align: center;
  margin-bottom: 8px;
}

/**-------------------------------------------------------------------*/

/**-------------------------PORTFOLIO---------------------------------*/

.portfolio {
  /* padding: 120px 0; */
  padding: 96px 0;
}

.portfoilio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list-item {
  /* width: calc((100% - 2 * 24px) / 3); */
  width: 100%;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-hover-text {
  transform: translateY(0%);
}

/*
.portfolio-img {
}*/

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**-----------------------------------------------------------------*/

/**-------------------------------FOOTER----------------------------*/

.footer {
  /* padding: 100px 0; */
  padding: 96px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 288px;
}

.logo-span-footer,
.footer-content {
  color: #f4f4fd;
}

/* .footer-logo-content {
  margin-right: 120px;
} */

/* .footer-social-media {
  margin-right: 80px;
} */

.social-media {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icons {
  fill: #f4f4fd;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus,
.social-media-link:active {
  background-color: #31d0aa;
}

/*.footer-form {
}*/

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/*.label-footer-form {
}*/

.footer-input-mail {
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  outline: transparent;
  color: #fff;
  opacity: 0.6;
}

.footer-input-mail::placeholder {
  font-style: inherit;
  color: #fff;
}

.subsribe-btn {
  min-width: 165px;
  color: #fff;
  font-style: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subsribe-btn:hover,
.subsribe-btn:focus,
.subsribe-btn:active {
  background-color: #404bbf;
}

.subsribe-icon {
  display: flex;
  justify-content: center;
  margin-left: 16px;
}

/**----------------------------------------------------------------*/
/**-----------------------------MODAL------------------------------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn-icon {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.form-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/*.form-modal{}*/

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  margin-bottom: 16px;
}

.modal-comment-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 8px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-style: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-comment-field:focus {
  border-color: #4d5ae5;
}

.check-input:checked + .policy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy-checkbox {
  margin-bottom: 24px;
}

.policy-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}

.user-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-open-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-nav {
    margin-right: 120px;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .current::after {
    content: "";
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    position: absolute;
  }

  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-in-office-tab-bg.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-in-office-tab-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .footer {
    padding: 96px 108px 96px 108px;
  }

  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-logo {
    justify-content: start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-media {
    width: 208px;
  }

  .social-media {
    text-align: justify;
  }

  .social-media-list {
    justify-content: start;
  }

  .subscribe-title {
    text-align: justify;
  }

  .form-subscribe {
    flex-direction: row;
    gap: 24px;
  }

  .modal {
    width: 408px;
  }

  .user-privacy-link {
    margin-left: 2px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-nav {
    flex-grow: 1;
    margin-right: 0;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    max-width: 1440px;
    padding: 120px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-in-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-in-office-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .feature {
    padding: 120px 0;
    gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .feature-list-title {
    font-size: 20px;
    font-weight: 500;
    text-align: start;
  }

  .team {
    padding: 120px 0;
  }

  .team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-content {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-logo-content {
    margin-right: 120px;
  }

  .footer-social-media {
    margin-right: 80px;
  }

  .footer-input-mail {
    width: 264px;
    opacity: 1;
  }
}
